{% extends 'partials/base.html' %} {% block content %}
<div class="border p-3 shadow">
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-block">Submit</button>
  </form>
  <hr />

  <div class="border bg-muted p-3 mb-3">
    <p><small>19 feb</small></p>
    <div class="row">
      <div class="col-md-8">
        <p>This is task</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-info btn-sm mx-1" href="#">Edit</a>
        <a class="btn btn-danger btn-sm mx-1" href="#">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
